html, body{
  font-family: Roboto;
  font-weight: 400;
}
h1{
  color: black;
}
a{
  color: #3398ff;
  text-decoration: none;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
._form{
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
}
._input{
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  width: 20rem;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid gray;
}