html
  head
    title My Site - #{title}
    style
      include ../public/styles/reset.css
      include ../public/styles/global.css
      include ../public/styles/login.css
      include ../public/styles/signup.css
      include ../public/styles/header.css
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script defer src="/static/scripts/toggleUI.js"></script>
    <script defer src="/static/scripts/fetchPost.js"></script>
    <script defer src="/static/scripts/initFirebase.js"></script>
    <script defer src="/static/scripts/authentication.js"></script>
    <script defer src="/static/scripts/events/login.js"></script>
    <script defer src="/static/scripts/events/logout.js"></script>
    <script defer src="/static/scripts/events/signup.js"></script>

  body
    block header
      include layouts/header.pug
    block content
    block footer
      include layouts/footer.pug
    block script
</body>
</html>