header#header
  nav#nav
    a#header_logo(href="/")
      p Home
    ul#list._loggedIn(style="display:none;")
      li.list-item 
        a(href="/profile") Profile
      li.list-item
        button#logoutBtn Logout

    ul#list._loggedOut(style="display:none;")   
      li.list-item 
        a(href="/signup") Sign Up
      li.list-item
        a(href="/login") Login