header#header
  nav#nav
    a(href="/")
      p Home
    ul#list
      a(href="/signup")
        li.list-item Sign Up
      a(href="/login")
        li.list-item Login
      a(href="/profile")
        li.list-item Profile