header#header
  nav#nav
    a(href="/")
      p Home
    if user
      ul#list
        a(href="/profile")
          li.list-item Profile
        button#logoutBtn
          li.list-item Logout
    else  
      ul#list
        a(href="/signup")
          li.list-item Sign Up
        a(href="/login")
          li.list-item Login